@inject CmsSession Session

<nav class="menu">
    @if (!Session.IsAuthenticated)
    {
        <NavLink href="/login" class="item" Match="NavLinkMatch.All">
            Dang nhap
        </NavLink>
    }
    else
    {
        <NavLink href="/" class="item" Match="NavLinkMatch.All">
            Tong quan
        </NavLink>

        <NavLink href="/diemthamquan" class="item">
            Diem tham quan
        </NavLink>

        <NavLink href="/loaidiem" class="item">
            Loai diem
        </NavLink>

        <NavLink href="/thongke" class="item">
            Thong ke
        </NavLink>
    }
</nav>
