@using Microsoft.AspNetCore.Components.Routing
<link href="NavMenu.razor.css" rel="stylesheet" />
<nav class="menu">

    <NavLink href="/" class="item">
        🏠 Trang chủ
    </NavLink>

    <NavLink href="/diemthamquan" class="item">
        📍 Điểm tham quan
    </NavLink>

    <NavLink href="/loaidem" class="item">
        🗂 Loại điểm
    </NavLink>

    <NavLink href="/thongke" class="item">
        📊 Thống kê
    </NavLink>

</nav>
