@using Microsoft.AspNetCore.Components.Routing
@inject CmsSession Session

<nav class="menu">
    @if (!Session.IsAuthenticated)
    {
        <NavLink href="/login" class="item" Match="NavLinkMatch.All">
            Dang nhap
        </NavLink>
    }
    else
    {
        <NavLink href="/" class="item" Match="NavLinkMatch.All">
            Tong quan
        </NavLink>

        <NavLink href="/diemthamquan" class="item">
            Quản lý Điểm Tham Quan
        </NavLink>

        <NavLink href="/loaidiem" class="item">
            Quản lý Loại Điểm
        </NavLink>

        <NavLink href="/thongke" class="item">
            Thống Kê
        </NavLink>

        <NavLink href="/ngonngu" class="item">
            Quản lý Ngôn Ngữ
        </NavLink>

        <NavLink href="/nguoidung" class="item">
            Quản lý Người Dùng
        </NavLink>

        <NavLink href="/taikhoan" class="item">
            Quản lý Tài Khoản
        </NavLink>

        <NavLink href="/noidungthuyetminh" class="item">
            Quản lý Nội Dung Thuyết Minh
        </NavLink>
    }
</nav>
