@page "/"

<div class="fade-in">
    <h2>Dashboard</h2>

    <div class="grid">
        <div class="card">
            <h3>Tổng điểm</h3>
            <h1>@tongDiem</h1>
        </div>

        <div class="card">
            <h3>Lượt nghe</h3>
            <h1>@luotNghe</h1>
        </div>

        <div class="card">
            <h3>Người dùng</h3>
            <h1>@nguoiDung</h1>
        </div>
    </div>
</div>

@code {
    int tongDiem = 0;
    int luotNghe = 0;
    int nguoiDung = 0;

    protected override async Task OnInitializedAsync()
    {
        // TODO: gọi API thật
        tongDiem = 3;
        luotNghe = 120;
        nguoiDung = 25;
    }
}