@page "/loaidiem"
@inject HttpClient Http

<div class="fade-in">
    <h2>Loại điểm</h2>

    <div class="card">
        <ul>
            @foreach (var item in list)
            {
                <li>@item.TenLoai</li>
            }
        </ul>
    </div>
</div>

@code {
    List<Loai> list = new();

    class Loai
    {
        public string? TenLoai { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        var data = await Http.GetFromJsonAsync<List<Loai>>("http://localhost:5000/api/loaidiemthamquan");
        list = data ?? new List<Loai>();
    }
}