@page "/login"

<div class="fade-in" style="display:flex;justify-content:center;align-items:center;height:80vh">
    <div class="card" style="width:300px">
        <h3>Đăng nhập</h3>

        <input placeholder="Username" @bind="user" />
        <input type="password" placeholder="Password" @bind="pass" />

        <button @onclick="HandleLogin">Login</button>
    </div>
</div>

@code {
    string? user;
    string? pass;

    void HandleLogin()
    {
        Console.WriteLine($"{user} - {pass}");
    }
}