@page "/thongke"
@inject HttpClient Http

<div class="fade-in">
    <h2>Thống kê</h2>

    <div class="grid">
        @foreach (var item in list)
        {
            <div class="card">
                <h3>@item.TenDiem</h3>
                <p>Lượt nghe: @item.Luot</p>
            </div>
        }
    </div>
</div>

@code {
    List<ThongKeDto> list = new();

    class ThongKeDto
    {
        public string? TenDiem { get; set; }
        public int Luot { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        var data = await Http.GetFromJsonAsync<List<ThongKeDto>>(
            "http://localhost:5000/api/thongke/luot-nghe-theo-diem");

        list = data ?? new List<ThongKeDto>();
    }
}